<div id="title">
		<h2>Do que se trata?</h2>
		<p class="lastNode">O objetivo do &ldquo;Mude sua Moto&rdquo; é centralizar produtos e serviços através de uma busca filtrada pelo usuário. E Dando a oportunidade do usuário fazer uma pesquisa completa de valores e serviços e empresas, mesmo pequenas, a conseguirem um alcance maior.
	</p>
		<h2 class="title3">A quem se destina?</h2>
		<p class="lastNode">A motociclistas e empresas que oferecem seus serviços utilizando de motocicletas. E também lojas/oficinas que provem o serviço que o usuário deseja.
	</p>
</div>
<div id="twitter">
	<script src="http://widgets.twimg.com/j/2/widget.js"></script>
	<script>
	new TWTR.Widget({
	  version: 2,
	  type: 'search',
	  search: '@mudesuamoto',
	  interval: 30000,
	  title: 'Mude Sua Moto',
	  subject: 'Tweet essa idéia',
	  width: 350,
	  height: 260,
	  theme: {
	    shell: {
	      background: '#101112',
	      color: '#ffffff'
	    },
	    tweets: {
	      background: '#ffffff',
	      color: '#444444',
	      links: '#1985b5'
	    }
	  },
	  features: {
	    scrollbar: false,
	    loop: true,
	    live: true,
	    hashtags: true,
	    timestamp: true,
	    avatars: true,
	    toptweets: true,
	    behavior: 'default'
	  }
	}).render().start();
	</script>
</div>
	<div id="enum">
		<h2>A primeira versão: </h2>
		<ol>
			<li>
				<p>Integração com Facebook/Twitter/Outros.</p>
			</li>
			<li>
				<p> 
					Perfil do usuário com informações pessoais. Esse usuário pode ser um motociclista ou alguém interessado em algum serviço ou então uma loja/oficina que queira divulgar seus serviços no site.
				</p>
				
			</li>
			<li>
				<p>
					Uma tela de entrada com os filtros: Marca, Modelo, Ano e a Mudança/Serviço que o usuário deseja fazer em sua motociceta.
				</p>
			</li>				
			<li>
				<p>
					A busca deve:
				</p>
			</li>
		</ol>
		<ul class="ul-enum">
			<li>
				<p>
				Retornar uma lista de peças necessárias para essa mudança e onde (na web) podem ser encontradas e/ou compradas.
				</p>
			</li>
			<li><p>
				Retornar uma outra lista com os dados das oficinas que estão mais próximas do usuário.
				</p>
			</li>
		</ul>		
	</div>
	<div id="footer">
			<p class="lastNode">Contudo, ainda precisamos do apoio do público e de usuários em potencial para descobrirmos se esse projeto deve mesmo ser levado adiante. Portanto deixe sua contribuição divulgando nas redes sociais (no topo dessa página) e também deixando o email para eventuais notificações sobre o mudesuamoto.com.br.
		</p>
	</div>